@import '../../sass/variables';

.playlist {
    &__header {
        @media (min-width: $large) {
            display: flex;
            justify-content: left;
            align-items: center;
        }
    }

    &__albumCover {
        display: block;
        margin: 22% auto;
        width: 50%;
        -webkit-box-shadow: 0px 0px 44px -1px rgba(0, 0, 0, 0.84);
        box-shadow: 0px 0px 44px -1px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: 0px 0px 44px -1px rgba(0, 0, 0, 0.84);

        @media (min-width: $medium) {
            width: 30%;
            margin: 10% auto;
        }

        @media (min-width: $large) {
            margin: 5%;
            width: 15%;
        }
    }

    &__title {
        text-align: center;
        margin-top: -45px;
    }
}