@import '../../sass/variables';

.searchbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    @media (min-width: $medium) {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
    }

    & button.button--primary {
        margin: inherit;
    }
}

#searchbarInput {
    border-radius: 30px;
    padding: 12px;
    background: #B5A2B4;
    border: none;
    color: white;
    text-indent: 8px;
    min-width: 100%;

    font-family: 'Helvetica bold';

    &::placeholder {
        color: white;
    }

    @media (min-width: $medium) {
        min-width: 65%;
    }

    &:focus {
        outline: white solid 2px;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}