@import '../../sass/variables';

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__leftPart {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 10px;

        @media (min-width: $large) {
            column-gap: 30px;
        }
    }

    &__cover {
        height: 50px;
        width: 50px;
    }

    &__creator {
        color: $secondary-color;
        font-size: 12px;
    }

    & button.button--primary {
        margin: inherit;

        @media (min-width: $large) {
            padding: 0 3%;
        }
    }
}