.toggle {
  position: relative;

  &__checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 20px;
    background: #696a6b;
    border-radius: 40px;
    transition: background-color 0.2;
  }

  &__switch {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 60px;
    background: #b6b6b6;
    box-sizing: border-box;
    bottom: -2px;
    left: 0;
    transition: 0.2s;
  }
}
