@import '../../sass/variables';

.toggle {
  display: inline;
  position: relative;
  width: 45px;
  height: 20px;



  &__checkbox {
    display: none;

    &:checked+.toggle__button {
      background-color: $primary-color;

      &:before {
        transform: translateX(20px);
        background-color: white;

      }
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #646566;
    transition: 0.3s;
    border-radius: 30px;

    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      background-color: #B6B6B6;
      border-radius: 60px;
      transition: 0.3s;
      bottom: -3px;
      left: 0;
    }
  }

}